<h3>スケジュール詳細</h3>

<table class="show_table">
  <tr>
    <th>タイトル</th>
    <td><%= @schedule.title %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @schedule.start.to_s(:datetime_jp) %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @schedule.end.to_s(:datetime_jp) %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td><% if @schedule.all_day == true %>
          ○
        <% else %>

        <% end%>
    </td>
  </tr>
  <tr>
    <th>スケジュールメモ</th>
    <td><%= @schedule.memo %></td>
  </tr>
</table>

 <div>
   <ul>
     <li><%= link_to "スケジュール一覧に戻る", :schedules, class:"link" %></li>
     <li><%= link_to "スケジュールを編集する", [:edit, @schedule], class:"link" %></li>
     <li><%= link_to "スケジュールを削除", @schedule, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } , class:"link" %></li>
   </ul>
 </div>